body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #fff5e4;
  color: #F8C8DC;
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #F8C8DC;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #F8C8DC;
  transition: 0.3s;
}

.answerButton:hover {
  background-color: #F8C8DC;
  color: #ffe3e1;
  border: 2px solid #F8C8DC;
  box-shadow: 1px 1px 2px #ffe3e1;
}
